/* "The CSS should include comments at the beginning of the CSS file to identify
author and purpose. Individual line comments should be used as necessary to explain
particular styles and explain where they are applied." 

I can't decipher whether we're meant to write the author or purpose of each CSS element at the top here or just an overall brief
This is not really complete yet. It looks gross. All the colors and images and the fonts are just placeholders for now.
I can't figure out how to get the logo to the top left of the page. I'll get there
-Donovan

*/

/* Colour themes */
:root {
    --primary: #4786F4;
    --accent: #77A6F7;
}

/* BACKGROUND */

body {
    background-image: url("background.jpg")
}


/* TOP OF PAGE*/

.header {

font-family: Verdana, Georgia, serif;
background-color:#77A6F7;
margin: 10px;
height: 90px;
border-radius: 5px;
display: flex;
justify-content: space-between;
}
h1 {
font-size: 400%;
text-align:center;
font-family: "Century Gothic", "Gill Sans", sans-serif;
margin: 0px;

position: relative;
top: 10%;
}

img {
    margin-right: -10%;
max-width: 100%;
max-height: 100%;
    
}

/* NAVIGATION BAR */

.navbar nav {

padding: 10px;
background-color:#00887A;
margin: 10px;
height: 35px;
border-radius: 5px;
text-align: center;
            
}
    
.navbar nav a {
    
text-decoration: none;
font-family: Verdana, Georgia, serif;
padding: .2em 1em;
color: #fff;
background-color: #000;
transition: color 0.2s ease-in;
transition: background-color 0.2s ease-in;
}
    
.navbar nav a:hover{
    
color: #000;
background-color: #fff;
}


/* INDEX.HTML SIDEBAR CONTENT */
#sideright1 {

background-color:#4786F4;
font-family: Verdana, Georgia, serif;
margin-left: 10px;
margin-right: 10px;
margin-top: 2px;
margin-bottom: 0px;
border-radius: 5px;
padding: 20px;
font-size: 105%;
float: right;
width: 260px;
clear: right;
    
}

#sideright2 {

background-color:#4786F4;
font-family: Verdana, Georgia, serif;
margin-left: 10px;
margin-right: 10px;
margin-top: 2px;
margin-bottom: 2px;
border-radius: 5px;
padding: 20px;
font-size: 105%;
float: right;
width: 260px;
clear: right;
        
}

/* MAIN TEXT CONTENT (MAYBE?) */
.main {

background-color:#77A6F7;
margin-left: 10px;
margin-right: 320px;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 5px;
padding: 20px;
font-size: 110%;
font-family: Verdana, Georgia, serif;
                
}

/* FOOTER */
.footer {
background-color: #00887A;
margin: 10px;
height: 60px;
clear: both;
border-radius: 5px;
text-align: center;
padding: 15px;
font-size: 90%;
font-family: Verdana, Georgia, serif;
    
}
    
.footer ul {
    
padding: 5px;
margin: 10px;
height: 35px;
border-radius: 5px;
text-align: center;
                
}
        
.footer ul li {
    
display: inline;
    
}
    
.footer ul li a {
        
font-family: Verdana, Georgia, serif;
padding: .2em 1em;
color: #fff;
background-color: #000;
transition: color 0.2s ease-in;
transition: background-color 0.2s ease-in;
    
}
        
.footer ul li a:hover{
        
color: #000;
background-color: #fff;
}


/* Jobs Page */
#jobs-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.jobs-list {
    grid-column: 1/2;
    background-color: var(--accent);
}
.jobs-list-box {
    border-radius: 5%;
    border: solid 3px white;
}


.main-job-box {
    grid-column: 2/3;
}
.job-box {
    background-color: var(--primary);
}


#jobs-footer {
    grid-column: 1/3;
}