/*
filename: style
authors: Donovan Quilty, Matthew Xu, Reeve Kariyasawam, Riley Craggill-Haren
created: 14/8/2024
last modified: 30/8/2024
description: A style sheet for the PSIS index, apply, about and jobs pages. Part 1 of COS10026 group assignment
*/

/* Colour themes */
:root {
    --primary: #4786F4;
    --accent: #77A6F7;
}

/* BACKGROUND */

body {
    background-image: url("background.jpg"); /* Taken under free use license from vecteezy.com */
	font-family: Verdana, Georgia, sans-serif
}


/* TOP OF PAGE*/

header {
background-color:#77A6F7;
margin: 10px;
height: 90px;
border-radius: 5px;
display: flex;
justify-content: space-between;
}

h1 {
font-size: 3vw;
text-align:center;
font-family: "Century Gothic", "Gill Sans", sans-serif;
margin: 0px;
position: relative;
top: 6%;
}

#logo {
margin-right: -10%;
max-width: 100%;
max-height: 100%;
    
}

/* TOP OF PAGE*/

/* NAVIGATION BAR / HAMBURGER MENU - Nav bar + enhancement made by Donovan*/ 
#hamburger {
position: absolute;
top: 10rem;
left: 1.2rem;
background: #00887A;
z-index: 1;
width: 200px;
display: none;
}

#hamburger a {
color: #000;
padding: .2em 1em;
text-decoration: none;
background-color: #4786F4;
font-weight: bold;
display: block;
transition: color 0.2s ease-in;
transition: background-color 0.2s ease-in;
}

#hamburger a:hover {
color: #4786F4;
background-color: #000;
}

#menu {
opacity: 0;
}

#menu:checked ~ #hamburger {
display: block;
}

.menuimage {
float: inline-start;
}

.menu_icon {
width: 35px;
height: 5px;
background-color: black;
margin: 6px 0;
}


nav {
padding: 10px;
background-color:#00887A;
margin: 10px;
height: 35px;
border-radius: 5px;
text-align: center;
            
}
    
nav a {
    
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #000;
transition: color 0.2s ease-in;
transition: background-color 0.2s ease-in;
}
    
nav a:hover{
    
color: #000;
background-color: #fff;
}



/* NAVIGATION BAR/HAMBURGER MENU */


/* INDEX.HTML and ENHANCEMENTS.HTML CONTENT */

#flexrow {
display: flex;
flex-flow: row wrap;
}

.flexcolumn {
display: flex;
flex-flow: column wrap;
justify-content: center;
flex: 50%;
}

.main {
margin: 10px;
border-radius: 5px;
padding: 20px;
font-size: 100%;
background-color:#77A6F7;
                
}

.sideright {
background-color:#4786F4;
margin: 20px 10px 50px 10px;
border-radius: 5px;
padding: 20px;
font-size: 105%;
}

#video {
background-color: #77A6F7;
margin: 10px;
border-radius: 5px;
padding: 20px;
font-size: 110%;
width: 100%;
}

/* INDEX.HTML and ENHANCEMENTS.HTML CONTENT */

/* FOOTER */

footer {
background-color: #4786F4;
margin: 10px;
border-radius: 5px;
padding: 20px;
width: 100%;
text-align: center;
}

#bottomnav {
background-color: #00887A;
margin: 10px;
margin-bottom: 1px;
height: 60px;
clear: both;
border-radius: 5px;
text-align: start;
padding: 15px;
font-size: 90%;
width: 100%;
}
    
#bottomnav ul {
    
padding: 5px;
margin: 10px;
height: 35px;
border-radius: 5px;
text-align: center;
                
}
        
#bottomnav ul li {
    
display: inline;
    
}
    
#bottomnav ul li a {
text-decoration: none;      
padding: .2em 1em;
color: #fff;
background-color: #000;
transition: color 0.2s ease-in;
transition: background-color 0.2s ease-in;
    
}
        
#bottomnav ul li a:hover{
        
color: #000;
background-color: #fff;
}

#hamburgerfooter {
position: relative;
bottom: 165px;
left: -14px;
background: #00887A;
width: 200px;
display: none;
}

#hamburgerfooter a {
color: #000;
padding: .2em 1em;
text-decoration: none;
background-color: #4786F4;
font-weight: bold;
display: block;
transition: color 0.2s ease-in;
transition: background-color 0.2s ease-in;
}

#hamburgerfooter a:hover {
background-color: #000;
color: #4786F4;
}

#menufooter {
opacity: 0;
}

#menufooter:checked ~ #hamburgerfooter {
display: block;
}


@media screen and (max-width: 680px) {
#navdesktop {
display: none;
}
.flexcolumn {
flex: 100%;
}
footer p {
position: sticky;
}
}

@media screen and (min-width: 681px) {
#navmobile {
display: none;
}
}

/* Jobs Page */
#jobs-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.jobs-list {
    grid-column: 1/2;
    background-color: var(--accent);
}
.jobs-list-box {
    border-radius: 5%;
    border: solid 3px white;
}


.main-job-box {
    grid-column: 2/3;
}
.job-box {
    background-color: var(--primary);
}


#jobs-footer {
    grid-column: 1/3;
}

/* ----------------------------- Apply Page -------------------------------- */
.h2 {
	display: inline;
}

.input-form {
	/* General form stuff */
	/*
	background-color:#f4f5df;
	*/
	margin: 3% 20% 3% 20%;		/* T, R, B, L */
	font-size: 120%;
	font-family: sans-serif;
	padding: 0.15% 2%;
	border-radius: 5px;
	gap: 20px;
}

fieldset {
	display: block;
	border: 0px;
	background-color: rgb(232, 237, 218);		/* Double bg-col for backup */
	background-color: rgb(216, 224, 121, 0.15);
	/*
	border: 2px solid red;
	background-color: #CCC;
	*/
	backdrop-filter: blur(20px);
	max-width: 90%;
	padding: 16px 50px;
	margin-bottom: 20px;
	border-radius: 10px;
}

legend {
	margin-bottom: 20px;
}

label {
	font-weight: 600;
	letter-spacing: 0.5px;
}

input[type=text] {
	display: block;
	width: 70%;
	padding: 12px 20px;
	margin: 0.4rem;
	box-sizing: border-box;
}

#apply-title-text {
	font-size: 150%;
}


/* About Page */

/* ABOUT.HTML LEFT  SIDE CONTENT (Modified version of Donovans)*/
.leftside {

    background-color:#4786F4;
    font-family: Verdana, Georgia, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 105%;
    float: left;
    width: 260px;
    clear: left;  
    }

#group-photo {
	display: flex;
	justify-content: center;
}

#our-members{
    display: flex;
    justify-content: center;
}

#our-members div{
    border: #4786F4 solid 2px;
    padding: 2%;
    border-radius: 30px;
    font-size: small;
	margin: 0.5%;
}

#donovan{
    background-image: url(Stockportrait.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity: 0.8; /* Adjusts the transparency: 0 is fully transparent, 1 is fully opaque */
}

#donovan:hover{
    opacity:1;
    background: rgba(255, 255, 255, 0.8);
}

#matthew{
    background-image: url(Stockportrait.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity: 0.8; /* Adjusts the transparency: 0 is fully transparent, 1 is fully opaque */
}

#matthew:hover{
    opacity:1;
    background: rgba(255, 255, 255, 0.8);
}

#reeve{
    background-image: url(Stockportrait.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity: 0.8; /* Adjusts the transparency: 0 is fully transparent, 1 is fully opaque */
}

#reeve:hover{
    opacity:1;
    background: rgba(255, 255, 255, 0.8);
}

#riley{
    background-image: url(Stockportrait.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity: 0.8; /* Adjusts the transparency: 0 is fully transparent, 1 is fully opaque */
}

#riley:hover{
    opacity:1;
    background: rgba(255, 255, 255, 0.8);
}
/* CSS for timetable inspired by https://www.youtube.com/watch?v=biI9OFH6Nmg */
#timetable{
	border-collapse: collapse;
	margin:25px 0;
	font-size: 0.9em;
	min-width: 400px
}

#timetable thead tr{
	background-color: #4786F4;
	color: rgb(255, 255, 255);
	text-align: left;
	font-weight: bold;
}

#timetable th, td{
	padding:12px 15px
}

#timetable tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}

#timetable tbody tr:nth-of-type(odd){
	background-color:#ffffff;
}

#timetable tbody tr:last-of-type {
	border-bottom: 2px solid #4786F4;
}
